@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-dark-blue{
  background-color: #024c9696;
}

.bg-dark-blue:hover{
  background-color: #024c96;
}

.bg-blue-md{
  background-color: #42487481;
}

.bg-blue-md:hover{
  background-color: #424874;
}

.backdrop-blur-xsm{
  backdrop-filter: blur(2px);
}

.main{
  backdrop-filter: blur(8px);

}



::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
  border-radius: 5px;

}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color del fondo de la barra de desplazamiento */
  border-radius: 5px;


}

::-webkit-scrollbar-thumb {
  background-color: #88888893; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 5px; /* Radio de borde del pulgar */
}

.main, .about-me {
  background-color: rgba(199, 199, 199, 0.315);
  border-radius: 12px;
}
.header{
  background-color: rgba(199, 199, 199, 0.315);
}


.borde{
  border-color: rgba(255, 255, 255, 0.281);
}

.main-aside{
  border-left: solid rgba(255, 255, 255, 0.281) 1px;
}

.side__container-bottom{
  border-top: solid rgba(255, 255, 255, 0.281) 1px;

}

input::placeholder{
  color:rgb(77, 77, 77);
}

.main-aside{
  margin-left: 2px;
}